<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doorable Searcher</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <h1>Doorable LookUp</h1>
    <p>
      Search for Doorables by name, or by entering the code you'll find on the
      packaging.
    </p>
    <form action="/search" method="get">
      <label for="searchInput">Search:</label>
      <input type="text" id="searchInput" name="query" required />
      <button type="submit">Search</button>

      <div>
        <label for="selectedSheet">Select Sheet:</label>
        <select id="selectedSheet" name="selectedSheet">
          <% for (const sheetName of sheetNames) { %>
          <option value="<%= sheetName %>"><%= sheetName %></option>
          <% } %>
        </select>
      </div>
    </form>
  </body>
</html>
