body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  background-color: #3498db;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

input[type='text'] {
  padding: 5px;
}

button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Add this to your styles.css or in a style block within the HTML file */
.pagination {
  margin-top: 20px; /* Adjust the margin as needed */
}

.pagination a {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px; /* Adjust the margin as needed */
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

form {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'] {
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #45a049;
}

a {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  color: #3498db;
  text-decoration: none;
  border-bottom: 2px solid #3498db;
}

a:hover {
  border-bottom: 2px solid #1f618d;
}

/* Add this CSS to your styles.css or within a <style> tag in your HTML */

body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
input[type='text'] {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  padding: 8px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #45a049;
}

/* Larger screens */
@media (min-width: 768px) {
  h1 {
    font-size: 28px;
  }

  input[type='text'] {
    width: 200px;
  }

  button {
    font-size: 14px;
  }
}

/* Medium screens */
@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  input[type='text'] {
    width: 150px;
  }

  button {
    font-size: 12px;
  }
}

/* Small screens */
@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  input[type='text'] {
    width: 100%;
  }

  button {
    font-size: 10px;
  }
}
